<%= render :partial => "layouts/header"%>
<div class="container">
    <div class="row">
        <div class="col-lg-9 h1">
            <div>Welcome to <div class="glyphicon glyphicon-book"></div>Bookers !!</div>
        </div>
    </div>
    <%= render :partial => "layouts/footer"%>
</div>